# Global default owner
*       @shreyasraomgit

# Path-specific owners for workshop components
/backend/   @shreyam168
/frontend/  @shreyashwini-r
/db/        @pritinarlwar
/architecture/ @shravanimali
